networks:
  reverse-proxy:
    external: true

services:
  prometheus:
    image: docker.io/prom/prometheus:v3.9.1
    container_name: prometheus
    deploy:
      resources:
        limits:
          cpus: '2.0'
          memory: 4G
        reservations:
          cpus: '0.1'
          memory: 128M
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 60s
    # user: ${UID}:${GID}
    networks:
      - reverse-proxy
    command:
      - --config.file=/etc/prometheus/prometheus.yaml
      - --storage.tsdb.path=/prometheus
      - --web.console.libraries=/usr/share/prometheus/console_libraries
      - --web.console.templates=/usr/share/prometheus/consoles
      - --web.enable-lifecycle
      - --web.enable-otlp-receiver
    environment:
      TZ: ${TZ}
    volumes:
      - ~/home-server/prometheus:/etc/prometheus:rw
    # - ~/home-server/prometheus/data:/prometheus
    healthcheck:
      test: ["CMD", "wget", "--spider", "localhost:9090"]
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 10s
      start_interval: 5s
    labels:
      traefik.enable: true
      traefik.http.routers.prometheus.entrypoints: websecure
      traefik.http.routers.prometheus.rule: Host(`prometheus.${DOMAIN_NAME}`)
      traefik.http.routers.prometheus.middlewares: chain-authentik@file
      traefik.http.services.prometheus.loadbalancer.server.port: 9090
