# nano /reverse-proxy/rules/middleware-chains.yml
http:
  middlewares:
    chain-no-auth:
      chain:
        middlewares:
          - default-compress
          - default-rate-limit
          - default-retry
          - default-headers
    chain-basic-auth:
      chain:
        middlewares:
          - basic-auth
          - default-compress
          - default-rate-limit
          - default-retry
          - default-headers
    chain-authelia:
      chain:
        middlewares:
          - authelia
          - default-compress
          - default-rate-limit
          - default-retry
          - default-headers
    chain-authentik:
      chain:
        middlewares:
          - authentik
          - default-compress
          - default-rate-limit
          - default-retry
          - default-headers
    chain-oauth:
      chain:
        middlewares:
          - oauth
          - default-compress
          - default-rate-limit
          - default-retry
          - default-headers
    chain-immich:
      chain:
        middlewares:
          - immich-buffering
          - immich-headers
          - default-rate-limit
          - default-retry
          - default-headers
    chain-plex:
      chain:
        middlewares:
          - plex-buffering
          - plex-headers
          - default-rate-limit
          - default-retry
    chain-nextcloud:
      chain:
        middlewares:
          - nextcloud-redirect
          - default-rate-limit
          - default-retry
          - default-headers
    chain-actual-budget:
      chain:
        middlewares:
          - actual-budget-headers
          - default-rate-limit
          - default-retry
          - default-headers
